.gfield {
	width: 100%;
	padding: 0 !important;
	margin: 20px 0 0 !important;

	& input[type='address'],
	& input[type='tel'],
	& input[type='text'],
	& input[type='email'] {
		width: 100% !important;
	}
}

.gfield_description {
	&.gfield_validation_message {
		opacity: 1;
	}
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='number'],
textarea,
select {
	width: 100%;
	margin: 0 !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper
	li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background-color: transparent;
	margin-bottom: 0 !important;
	border-top: none !important;
	border-bottom: none !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	box-sizing: border-box;
	width: 100% !important;
}

.gform_wrapper.gform_validation_error
	.gform_body
	ul
	li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
	max-width: 100% !important;
}
